Search engine/runtime_tests/report/integration/xml/data/TestWebXML/DataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonEmptyInt">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="Size">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="Lang">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="HlWorld">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="Domain">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Url">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="Modtime">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="Charset">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="MimeType">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>
    <xs:simpleType name="SavedCopyUrl">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="Priority">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="FoundDocsHuman">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="Attr">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="Mode">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="ReqId">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="ThumbnailLink">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="WordStat">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="FoundHuman">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="DateAttr">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="HtmlLink">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="ImageLink">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="Name">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="ClipsProperties">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="MediaDuration">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>


    <xs:simpleType name="GroupsOnPage">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="DocsInGroup">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="DocCount">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="Page">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="Id">
        <xs:restriction base="NonEmptyString"/>
    </xs:simpleType>

    <xs:simpleType name="Shard">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="ThumbnailWidth">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="ThumbnailHeight">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="OriginalWidth">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="OriginalHeight">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="FileSize">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="FirstAttr">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="LastAttr">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:complexType name="Misspell">
        <xs:sequence>
            <xs:element name="rule" type="xs:string"/>
            <xs:element name="source-text" type="SourceText"/>
            <xs:element name="text" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SourceText" mixed="true">
        <xs:sequence>
            <xs:element name="hlword" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reask">
        <xs:sequence>
            <xs:element name="rule" type="xs:string"/>
            <xs:element name="source-text" type="SourceText"/>
            <xs:element name="text-to-show" type="xs:string"/>
            <xs:element name="text" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>